[flake8]
ignore = C101,W503, Q000
exclude =
    .git,
    __pycache__,
    venv,
    data,
    docs,
    logs,
    static
filename = *.py
accept-encodings = utf-8
inline-quotes = double
max-complexity = 12
max-linenumber = 500
max-line-length = 120
multiline-quotes = double
