*/__pycache__/*
venv/
*.pyc
__pycache__
settings.json
Wörter zum Aufnehmen.txt
mediafiles
course_1_*.csv
Notizen.md
*legacy*
env_template
node_modules
static/CACHE
.git
.coverage
accessKeys.csv
staticfiles
*.bak
celerybeat-schedule
.editorconfig
volume
.vscode
volume
json
.venv
.ruff_cache
htmlcov
logs.json
.python-version
.env.dev
project
