{% extends "layout/main.html" %}
{% load static %}
{% block title %}
    Abonnements – Bajkal
{% endblock title %}
{% block content %}
    <div class="md:basis-9/12 basis-full rounded-lg h-fit px-4">
        <div class="pl-1 text-xl font-extrabold text-gray-800 dark:text-white ">Abonnements</div>
        <div class="flex mt-10">
            <button type="submit"
                    class="bg-yellow-200 py-2.5 px-3 font-semibold rounded"
                    id="submitBtn">Abonnieren</button>
        </div>
    </div>
{% endblock content %}
