{% extends "landingpage/_base-landing.html" %}
{% block title %}
    Widerrufsbelehrung – Bajkal
{% endblock title %}
{% block main %}
    <section class="pt-32 bg-gray-50 dark:bg-gray-950">
        <div class="px-4 mx-auto max-w-screen-xl lg:px-6">
            <div class="mx-auto mb-8 max-w-screen-md text-gray-800 dark:text-white lg:mb-16">
                <h2 class="mb-5 text-2xl font-bold tracking-tight lg:text-4xl">Widerrufsbelehrung</h2>
                <div class="flex flex-col space-y-4">
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">Widerrufsrecht</h3>
                        <div class="flex flex-col space-y-1 text-gray-700 dark:text-gray-200">
                            <p>
                                Wenn Sie ein Verbraucher sind, haben Sie das Recht, binnen vierzehn Tagen, ohne Angabe von
                                Gründen, den mit uns geschlossenen Vertrag zu widerrufen. Die Widerrufsfrist beträgt
                                vierzehn Tage ab dem Tag, an dem Sie oder ein von Ihnen benannter Dritter, der nicht der
                                Beförderer ist, die Waren in Besitz genommen haben/ hat. Um Ihr Widerrufsrecht auszuüben,
                                müssen Sie uns:
                            </p>
                            <p>
                                Björn Kawecki, Große-Leege-Straße 14, 13055 Berlin, Tel. 015114976449, E-Mail:
                                bjoern.kawecki@mailbox.org
                            </p>
                            <p>
                                mittels einer eindeutigen Erklärung (z. B. ein mit der Post versandter Brief oder E-Mail)
                                über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das
                                beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist. Zur
                                Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des
                                Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">Folgen des Widerrufs</h3>
                        <div class="flex flex-col space-y-1 text-gray-700 dark:text-gray-200">
                            <p>
                                Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen
                                erhalten haben, unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen,
                                an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese
                                Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen
                                Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes
                                vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet.
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">
                            Erlöschen des Widerrufsrechtes bei Wunsch des Kunden zur Leistungsausführung vor Ablauf der
                            Widerrufsfrist
                        </h3>
                        <div class="flex flex-col space-y-1 text-gray-700 dark:text-gray-200">
                            <p>
                                Das Widerrufsrecht erlischt auch dann, wenn wir die Leistung vollständig erbracht haben und
                                mit der Ausführung der Leistung erst begonnen haben, nachdem Sie dazu Ihre ausdrückliche
                                Zustimmung gegeben haben und gleichzeitig Ihre Kenntnis davon bestätigt haben, dass Sie Ihr
                                Widerrufsrecht bei vollständiger Vertragserfüllung durch uns verlieren.
                            </p>
                            <p>
                                Widerrufen Sie den Vertrag, insoweit die Leistung noch nicht vollständig erbracht wurde, so
                                schulden Sie uns Wertersatz für die bis zum Widerruf erbrachten Leistung, wenn Sie
                                ausdrücklich verlangt haben, dass wir mit der Leistung vor Ablauf der Widerrufsfrist
                                beginnen.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
