{% extends "landingpage/_base-landing.html" %}
{% block title %}
    Impressum – Bajkal
{% endblock title %}
{% block main %}
    <section class="pt-32 bg-gray-50 dark:bg-gray-950  min-h-[52rem] ">
        <div class="px-4 mx-auto max-w-screen-xl lg:px-6">
            <div class="mx-auto mb-8 max-w-screen-md text-gray-800 dark:text-white lg:mb-16">
                <h2 class="mb-5 text-2xl font-bold tracking-tight lg:text-4xl">Impressum</h2>
                <div class="flex flex-col mb-8 space-y-4 text-left text-gray-700 dark:text-gray-200">
                    <div class="flex flex-col mb-5 space-y-3">
                        <div class="flex flex-col">
                            <div>Björn Kawecki</div>
                            <div>Große-Leege-Straße 14</div>
                            <div>13055 Berlin</div>
                        </div>
                        <div class="flex flex-col">
                            <div class="font-semibold">Kontakt</div>
                            <div>
                                E-Mail: <span class="reverse-contact">ed<span class="hiddenspace">=(/8234hsfdkj23n9</span>.lakjab<span class="hiddenspace">cvnjldsfo§847A()SD)(</span>@tkatnok</span>
                            </div>
                            <div>
                                Telefon: <span class="reverse-contact">944<span class="hiddenspace">asdljwnfkjnksneqo213414ß´ß?=193</span>67941-1510</span>
                            </div>
                        </div>
                        {% comment %}<div class="flex flex-col">
                        <div class="font-semibold">USt-IdNr.</div>
                        <div>DE999999999</div>
                    </div>
                    <div class="flex flex-col">
                        <div class="font-semibold">Registergericht und Nr.</div>
                        <div>xxx xxx-xxx-xxx</div>
                        </div> {% endcomment %}
                        <div class="flex flex-col">
                            <div class="font-semibold">Inhaltlicher Verantwortlicher</div>
                            <div>wie oben</div>
                        </div>
                    </div>
                    <div class="flex flex-col space-y-3">
                        <div>
                            Allgemeine Informationspflichten zur alternativen Streitbeilegung nach Art. 14 Abs. 1 ODR-VO und
                            § 36 VSBG (Verbraucherstreitbeilegungsgesetz):
                        </div>
                        <div>
                            Die europäische Kommission stellt eine Plattform zur Online-Streitbelegung (OS) zur Verfügung,
                            die Sie unter dieser Adresse finden: http://ec.europa.eu/consumers/odr/. Zur Teilnahme an einem
                            Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle sind wir nicht verpflichtet
                            und auch nicht bereit.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
