{% extends "landingpage/_base-landing.html" %}
{% block title %}
    Datenschutzerklärung – Bajkal
{% endblock title %}
{% block main %}
    <section class="pt-32 bg-gray-50 dark:bg-gray-950">
        <div class="px-4 mx-auto max-w-screen-xl lg:px-6">
            <div class="mx-auto mb-8 max-w-screen-md text-gray-800 dark:text-white lg:mb-16">
                <h2 class="mb-5 text-2xl font-bold tracking-tight lg:text-4xl">Datenschutzerklärung</h2>
                <div class="flex flex-col space-y-4 text-gray-700 dark:text-gray-200">
                    <div>
                        Wir messen dem Datenschutz große Bedeutung bei. Die Erhebung und Verarbeitung Ihrer
                        personenbezogenen Daten erfolgen unter Beachtung der geltenden datenschutzrechtlichen Vorschriften,
                        insbesondere der EU-Datenschutzgrundverordnung (DSGVO). Wir erheben und verarbeiten Ihre
                        personenbezogenen Daten, um Ihnen unsere Internetseite sowie unsere Leistungen anbieten zu können.
                        Gemäß Art. 13 DSGVO beschreiben wir in dieser Erklärung, welche Daten in welcher Art, zu welchem
                        Zwecke und Umfang bei uns verwendet werden und welche Wahlmöglichkeiten und Rechte Sie im
                        Zusammenhang mit der Verwendung Ihrer personenbezogenen Daten haben.
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-semibold text-gray-800 dark:text-white">1. Verantwortliche Stelle</h3>
                        <div class="text-base font-light">
                            Für die Einhaltung des Datenschutzes auf unserer Seite ist
                            <div class="flex flex-col py-2">
                                <div>Björn Kawecki</div>
                                <div>Große-Leege-Straße 14</div>
                                <div>13055 Berlin</div>
                            </div>
                            verantwortlich. Einen Datenschutzbeauftragten haben wir nicht ernannt.
                        </div>
                        <div>
                            Für datenschutzrechtliche Anfragen stehen wir Ihnen gern zur Verfügung. Hierzu haben Sie die
                            folgenden Kontaktmöglichkeiten:
                        </div>
                        <div class="flex flex-col space-y-1">
                            <div>
                                Tel.: <span class="reverse-contact">944<span class="hiddenspace">asdljwnfkjnksneqo213414ß´ß?=193</span>67941-151 (94+)</span>
                            </div>
                            <div>
                                E-Mail: <span class="reverse-contact">ed<span class="hiddenspace">=(/8234hsfdkj23n9</span>.lakjab<span class="hiddenspace">cvnjldsfo§847A()SD)(</span>@tkatnok</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <h3 class="text-xl font-semibold text-gray-800 dark:text-white">
                            2. Datenerfassung auf unserer
                            Internetseite
                        </h3>
                        <div class="flex flex-col space-y-1">
                            <h4 class="text-base font-semibold text-gray-800 dark:text-white">Server-Logfiles</h4>
                            <div class="flex flex-col space-y-1">
                                <p>
                                    Insoweit Sie unsere Internetseite aufrufen, werden automatisch Informationen durch Ihren
                                    Browser an den Server unserer Internetseite übertragen. Die Speicherung dieser
                                    Informationen erfolgt nur kurzzeitig in einem sogenannten Logfile und wird automatisiert
                                    gelöscht.
                                </p>
                                <p>
                                    Dies umfasst folgende Daten:
                                    <ul class="mt-2 space-y-1 list-disc list-outside ms-5">
                                        <li>Ihre IP-Adresse,</li>
                                        <li>Datum und Uhrzeit des Aufrufs,</li>
                                        <li>Name und URL der von Ihnen aufgerufenen Datei,</li>
                                        <li>Website, von welcher der Aufruf erfolgt (Referrer-URL),</li>
                                        <li>Informationen zu dem von Ihnen verwendeten Browser sowie Betriebssystem,</li>
                                        <li>Name Ihres Access-Providers.</li>
                                    </ul>
                                </p>
                                <p>
                                    Diese Daten werden zum Zwecke der Gewährleistung eines reibungslosen Verbindungsaufbaus
                                    und einer komfortablen Nutzung unserer Internetseite sowie zur Auswertung der
                                    Systemsicherheit und -stabilität verwendet.
                                </p>
                                <p>
                                    Die Rechtsgrundlage für die Datenverarbeitung ergibt sich aus Art. 6 Abs. 1 S. 1 lit. f
                                    DSGVO, da wir aus den vorgenannten Zwecken ein berechtigtes Interesse zur Datenerhebung
                                    haben. Zudem ergibt sich eine Rechtsgrundlage ebenso aus Art. 6 Abs. 1 lit. b DSGVO zur
                                    Verarbeitung von Daten zur Erfüllung eines Vertrages oder vorvertraglicher Maßnahmen.
                                </p>
                                <p>Die Daten werden nicht dazu verwendet, Rückschlüsse auf Ihre Person zu ziehen.</p>
                            </div>
                        </div>
                        <div class="flex flex-col space-y-1">
                            <h4 class="text-base font-semibold text-gray-800 dark:text-white">
                                Kontaktformular/Kommunikation
                                per E-Mail
                            </h4>
                            <div class="flex flex-col space-y-1">
                                <p>
                                    Auf unserer Seite finden Sie ein Kontaktformular. Hiermit möchten wir unseren Kunden die
                                    Möglichkeit geben, unkompliziert mit uns Kontakt aufzunehmen. Zudem können Sie uns auch
                                    per E-Mail direkt anschreiben. Wenn Sie unser Kontaktformular nutzen möchten, müssen Sie
                                    Ihren Namen und eine gültige E-Mail-Adresse angeben. Bei einem Anschreiben per E-Mail
                                    erhalten wir Ihre E-Mail-Adresse. Alle weiteren angegebenen Daten sind optional. Die
                                    Datenerhebung erfolgt zum Zwecke der Anbahnung oder Durchführung von
                                    Vertragsverhältnissen gem. Art. 6 Abs. 1 lit. b DSGVO. Ist Ihre Anfrage nicht zur
                                    Anbahnung oder Durchführung eines Vertrages gerichtet, haben wir trotzdem ein
                                    berechtigtes Interesse, Ihre Anfrage zu bearbeiten und zu beantworten. Damit richtet
                                    sich die Verwendung der personenbezogenen Daten zu diesem Zwecke nach Art. 6 Abs. 1 lit.
                                    f DSGVO.
                                </p>
                                <p>
                                    Wir nutzen die von Ihnen angegebenen Daten ausschließlich dazu, Ihre Anfrage zu
                                    bearbeiten. Sollte sich diese auf die Geschäftsanbahnung oder -durchführung richten,
                                    löschen wir Ihre Daten nach unseren unternehmensintern festgelegten Löschungsfristen.
                                </p>
                                <p>
                                    Ist Ihre Anfrage auf einen anderen Zweck bezogen, löschen wir Ihre Daten nach
                                    Bearbeitung, wenn keine andere rechtliche Grundlage zur Datenspeicherung besteht.
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-col space-y-1">
                            <h4 class="text-base font-semibold text-gray-800 dark:text-white">
                                Verarbeitung von Kunden- und
                                Vertragsdaten
                            </h4>
                            <div class="flex flex-col space-y-1">
                                <p>
                                    Zum Zwecke der Geschäftsanbahnung, eines Vertragsabschlusses und der Vertragserfüllung
                                    verwenden wir Ihre hierzu notwendigen personenbezogenen Daten gem. Art. 6 Abs. 1 lit. b
                                    DSGVO.
                                </p>
                                <p>
                                    Eine Datenübermittlung an Dritte erfolgt nur dann, wenn diese zur vertragsgemäßen
                                    Erfüllung erforderlich ist, z. B. wenn ein Unternehmen für Produktion oder
                                    Transportdienstleistungen oder ein Kreditinstitut zur Zahlungsabwicklung beauftragt
                                    wurde.
                                </p>
                                <p>
                                    Die Löschung dieser personenbezogenen Daten erfolgt nach Ablauf der gesetzlichen
                                    Gewährleistungsfristen bzw. nach Ende gesetzlicher Aufbewahrungsfristen.
                                </p>
                                <p>
                                    Sie können bei uns auch ein Nutzerkonto anlegen. Hierzu ist es notwendig, dass Sie die
                                    in der Registrierung geforderten Daten angeben. In dem Nutzerkonto können Sie sodann
                                    Ihre angegebenen und hinterlegten Profildaten sowie Informationen zu Bestellungen oder
                                    von Ihnen vorgemerkten Produkten einsehen. Das Nutzerkonto ist nicht öffentlich
                                    zugänglich. Wenn Sie Ihr Nutzerkonto löschen, werden alle Daten, außer Daten, zu deren
                                    Aufbewahrung wir handels- und steuerrechtlich gem. Art. 6 Abs. 1 lit. f DSGVO
                                    verpflichtet sind, gelöscht.
                                </p>
                                <p>
                                    Bei jeder Anmeldung, Registrierung, Bestellung oder anderer verbindlicher Handlungen,
                                    speichern wir Ihre IP-Adresse sowie Tag und Zeit. Dies erfolgt zu Ihrem Schutz sowie
                                    gem. Art. 6 Abs. 1 lit. f DSGVO aus unserem berechtigten Interesse zur Beweisbarkeit
                                    einer Anspruchsentstehung sowie zur Vorbeugung von Missbrauchshandlungen oder unbefugter
                                    Nutzung unseres Systems.
                                </p>
                                <p>
                                    Weiter kann im Rahmen Ihrer Einwilligung gem. Art. 6 Abs. 1 lit. a. DSGVO ein Cookie
                                    gesetzt werden, welches Ihre Daten speichert, so dass diese bei Ihrem nächsten Besuch
                                    automatisch eingetragen werden.
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-col space-y-1">
                            <h4 class="text-base font-semibold text-gray-800 dark:text-white">
                                Verarbeitung durch
                                Zahlungsdienstleister
                            </h4>
                            <div class="flex flex-col space-y-1">
                                <p>
                                    Bei kostenpflichtigen Leistungen verarbeiten wir Ihre personenbezogenen Daten,
                                    insbesondere Zahlungsdaten (Konto-, Kreditkarten-, und andere Bankdaten) auf Grundlage
                                    des Art. 6 Abs. 1 lit. b DSGVO. Dies geschieht zum Zwecke der Vertragsdurchführung
                                    (Zahlungsabwicklung/ Buchhaltung). Insoweit erforderlich, werden Ihre Zahlungsdaten für
                                    die Zahlungstransaktion sowie zur Abrechnung an Dienstleister (Kreditinstitute,
                                    Zahlungsanbieter, Buchhaltungsdienstleister) übermittelt bzw. direkt von diesen
                                    verarbeitet.
                                </p>
                                <p>
                                    Ihre Zahlungsdaten werden für die Zeit des Bestehens des Vertragsverhältnisses
                                    gespeichert und nach vollständiger Beendigung des Vertragsverhältnisses (bis zum
                                    Abschluss aller gegenseitigen vertraglichen Verpflichtungen) gelöscht, wenn keine andere
                                    rechtliche Grundlage zur Datenspeicherung besteht.
                                </p>
                                <p>Wir nutzen die folgenden Zahlungsanbieter:</p>
                                <div class="flex flex-col space-y-1">
                                    <ul class="space-y-1 list-disc list-outside ms-5">
                                        <li>
                                            PayPal
                                            <br>
                                            Datenschutzerklärung von PayPal:
                                            https://www.paypal.com/myaccount/privacy/privacyhub
                                        </li>
                                        <li>
                                            Stripe Payments Europe Ltd.
                                            <br>
                                            Datenschutzerklärung von Stripe: https://stripe.com/de/privacy#translation
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col space-y-1">
                            <h4 class="text-base font-semibold text-gray-800 dark:text-white">Cookies</h4>
                            <div class="flex flex-col space-y-1">
                                <p>
                                    Unsere Internetseite beinhaltet Cookies. Cookies sind kleine Textdateien, die auf Ihrem
                                    Endgerät gespeichert werden. Sie helfen uns, Ihnen die Navigation durch unser Angebot zu
                                    erleichtern und ermöglichen die korrekte Darstellung der Webseite. Sie sollen die
                                    Nutzerfreundlichkeit der Internetseite unterstützen und sind selbstverständlich
                                    vollkommen unschädlich für Ihr Endgerät. Es werden hierdurch temporär Informationen im
                                    Zusammenhang mit dem von Ihnen genutzten Endgerät und der von Ihnen genutzten Software
                                    erhoben. Rückschlüsse auf Ihre Identität werden hieraus nicht gezogen.
                                </p>
                                <p>
                                    Wir setzen zum Beispiel sogenannte „Session-Cookies“ ein. Diese Cookies werden nach
                                    Ihrem Besuch automatisch gelöscht. Ebenso setzen wir Cookies ein, die auf Ihrem Endgerät
                                    gespeichert werden, um Ihnen z.B. bei einem weiteren Besuch die Anwendung unserer Seite
                                    zu erleichtern und Ihren Browser beim nächsten Besuch wiederzuerkennen
                                    („Permanent-Cookies“). Diese Cookies können natürlich jederzeit von Ihnen manuell
                                    gelöscht werden.
                                </p>
                                <p>
                                    Wir setzen Cookies auch dazu ein, die Nutzung unserer Internetseite statistisch zu
                                    erfassen und auszuwerten. Dies geschieht zu dem Zweck, unser Angebot für Sie weiter zu
                                    optimieren.
                                </p>
                                <p>
                                    Ebenfalls setzen wir Cookies zur pseudonymisierten Reichweitenmessung ein. Hierzu werden
                                    Sie nachfolgend weiter informiert.
                                </p>
                                <p>
                                    Die Cookies, die für den Betrieb unserer Internetseite zwingend notwendig sind, also
                                    ohne die unsere Internetseite nicht dargestellt werden kann, setzen wir zu diesem Zwecke
                                    zur Wahrung unserer berechtigten Interessen nach Art. 6 Abs. 1 S. 1 lit. f DSGVO ein.
                                    Diese werden nach einer jeweils definierten Zeit automatisch gelöscht.
                                </p>
                                <p>
                                    Die Cookies, die für die Abwicklung von Verträgen oder zum vertraglich vereinbarten
                                    Gebrauch unserer Internetseite erforderlich sind, setzen wir des Art. 6 Abs. 1 S. 1 lit.
                                    b DSGVO ein. Diese werden nach einer jeweils definierten Zeit automatisch gelöscht.
                                </p>
                                <p>
                                    Der Einsatz von nicht wie oben bezeichneten erforderlichen Cookies erfolgt auf Grundlage
                                    Ihrer Einwilligung gem. Art. 6 Abs. 1 lit. a DSGVO. Ihre Einwilligung kann jederzeit mit
                                    sofortiger Wirkung widerrufen werden. Gehen Sie dazu in die Einstellungen Ihres
                                    genutzten Browsers und wählen „Browserdaten löschen“ aus, hierbei müssen Sie „Cookies
                                    und andere Websitendaten“ ausgewählt haben und diese dann entfernen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <h3 class="text-xl font-semibold text-gray-800 dark:text-white">3. Weitergabe von Daten</h3>
                        <div class="flex flex-col space-y-1">
                            <p class="text-base font-light">
                                Ihre personenbezogenen Daten werden grundsätzlich nicht an Dritte übermittelt. Allerdings
                                können Daten ausnahmsweise aus den folgenden Gründen übermittelt werden:
                                <ul class="space-y-1 list-disc list-outside ms-5">
                                    <li>
                                        insoweit Sie Ihre ausdrückliche Einwilligung nach Art. 6 Abs. 1 S. 1 lit. a DSGVO
                                        erteilt haben
                                    </li>
                                    <li>
                                        insoweit die Weitergabe nach Art. 6 Abs. 1 S. 1 lit. f DSGVO erforderlich ist und
                                        kein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten
                                        besteht
                                    </li>
                                    <li>
                                        insoweit wir zur Weitergabe der Daten nach Art. 6 Abs. 1 S. 1 lit. c DSGVO
                                        gesetzlich verpflichtet sind
                                    </li>
                                    <li>
                                        insoweit eine Weitergabe nach Art. 6 Abs. 1 S. 1 lit. b DSGVO für die Abwicklung von
                                        Vertragsverhältnissen mit Ihnen zulässig und erforderlich ist.
                                    </li>
                                </ul>
                            </p>
                            <p>
                                Erfolgt eine Verarbeitung Ihrer Daten, z.B. bei externem Hosting, durch von uns beauftragte
                                Dritte, geschieht dies auf Grundlage des Art. 28 DSGVO mittels eines
                                Auftragsverarbeitungsvertrages.
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <h3 class="text-xl font-semibold text-gray-800 dark:text-white">4. Übermittlungen in Drittländer</h3>
                        <div class="flex flex-col space-y-1">
                            <p class="text-base font-light">
                                Sofern wir Daten in einem Drittland (d.h. außerhalb der Europäischen Union (EU) oder des
                                Europäischen Wirtschaftsraums (EWR)) verarbeiten oder dies im Rahmen der Inanspruchnahme von
                                Diensten Dritter oder Offenlegung bzw. Übermittlung von Daten an Dritte geschieht, erfolgt
                                das nur, wenn es zur Erfüllung unserer (vor)vertraglichen Pflichten auf Grundlage Ihrer
                                Einwilligung, aufgrund einer rechtlichen Verpflichtung oder auf Grundlage unserer
                                berechtigten Interessen geschieht.
                            </p>
                            <p>
                                Vorbehaltlich gesetzlicher oder vertraglicher Genehmigungen, verarbeiten oder lassen wir die
                                Daten in einem Drittland nur beim Vorliegen der besonderen Voraussetzungen der Art. 44 ff.
                                DSGVO verarbeiten. Das heißt, die Verarbeitung erfolgt z.B. auf Grundlage besonderer
                                Garantien, wie der offiziell anerkannten Feststellung eines der EU entsprechenden
                                Datenschutzniveaus oder der Beachtung offiziell anerkannter spezieller vertraglicher
                                Verpflichtungen (so genannte „Standardvertragsklauseln“).
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <h3 class="text-xl font-semibold text-gray-800 dark:text-white">5. Betroffenenrechte</h3>
                        <div class="flex flex-col space-y-1">
                            <h4 class="text-base font-semibold text-gray-800 dark:text-white">Auskunftsrecht Art. 15 DSGVO</h4>
                            <p>
                                Sie haben das Recht, von uns eine Bestätigung darüber zu verlangen, ob wir von Ihnen
                                personenbezogene Daten verarbeiten. Ist das der Fall, so können Sie Auskunft über diese
                                personenbezogenen Daten und über folgende Informationen fordern:
                                <ul class="space-y-1 list-disc list-outside ms-5">
                                    <li>die Verarbeitungszwecke</li>
                                    <li>die Kategorien personenbezogener Daten, die verarbeitet werden</li>
                                    <li>
                                        die Empfänger oder Kategorien von Empfängern, gegenüber denen die personenbezogenen
                                        Daten offengelegt wurden oder noch offengelegt werden - insbesondere bei Empfängern
                                        in Drittländern oder bei internationalen Organisationen
                                    </li>
                                    <li>
                                        falls möglich, die geplante Dauer, für die die personenbezogenen Daten gespeichert
                                        werden; falls dies nicht möglich ist, die Kriterien für die Festlegung dieser Dauer
                                    </li>
                                    <li>
                                        das Bestehen eines Rechts auf Berichtigung oder Löschung der Sie betreffenden
                                        personenbezogenen Daten, auf Einschränkung der Verarbeitung oder eines
                                        Widerspruchsrechts gegen diese Verarbeitung
                                    </li>
                                    <li>das Bestehen eines Beschwerderechts bei einer Aufsichtsbehörde</li>
                                    <li>
                                        wenn die personenbezogenen Daten nicht bei Ihnen erhoben werden, alle verfügbaren
                                        Informationen über die Herkunft der Daten
                                    </li>
                                    <li>
                                        das Bestehen einer automatisierten Entscheidungsfindung, einschließlich Profiling
                                        gemäß Artikel 22 Absätze 1 und 4 DSGVO, und – zumindest in diesen Fällen –
                                        aussagekräftige Informationen über die involvierte Logik sowie die Tragweite und die
                                        angestrebten Auswirkungen einer derartigen Verarbeitung für die betroffene Person.
                                    </li>
                                </ul>
                            </p>
                        </div>
                        <div class="flex flex-col space-y-1">
                            <h4 class="text-base font-semibold text-gray-800 dark:text-white">
                                Berichtigungsrecht Art. 16
                                DSGVO
                            </h4>
                            <p>
                                Sie können unverzüglich die Berichtigung unrichtiger oder die Vervollständigung Ihrer bei
                                uns gespeicherten personenbezogenen Daten verlangen.
                            </p>
                        </div>
                        <div class="flex flex-col space-y-1">
                            <h4 class="text-base font-semibold text-gray-800 dark:text-white">
                                Recht auf Löschung (Recht auf Vergessenwerden) Ihrer Daten, Art. 17 DSGVO
                            </h4>
                            <p>
                                Sie können die Löschung Ihrer bei uns gespeicherten Daten verlangen, insoweit
                                <ul class="space-y-1 list-disc list-outside ms-5">
                                    <li>
                                        die personenbezogenen Daten nicht für die Zwecke, für die sie erhoben oder auf
                                        sonstige Weise verarbeitet wurden, nicht mehr notwendig sind;
                                    </li>
                                    <li>
                                        Sie Ihre Einwilligung, auf die sich die Verarbeitung gemäß Artikel 6 Absatz 1
                                        Buchstabe a DSGVO oder Artikel 9 Absatz 2 Buchstabe a DSGVO stützt, widerrufen und
                                        es daraufhin an einer anderweitigen Rechtsgrundlage für die Verarbeitung fehlt;
                                    </li>
                                    <li>
                                        Sie gemäß Artikel 21 Absatz 1 DSGVO Widerspruch gegen die Verarbeitung einlegen und
                                        keine vorrangigen berechtigten Gründe für die Verarbeitung vorliegen oder Sie gemäß
                                        Artikel 21 Absatz 2 DSGVO Widerspruch gegen die Verarbeitung einlegen;
                                    </li>
                                    <li>die personenbezogenen Daten unrechtmäßig verarbeitet wurden;</li>
                                    <li>
                                        die Löschung der personenbezogenen Daten zur Erfüllung einer rechtlichen
                                        Verpflichtung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten erforderlich
                                        ist, dem Sie unterliegen;
                                    </li>
                                    <li>
                                        die personenbezogenen Daten in Bezug auf angebotene Dienste der
                                        Informationsgesellschaft gemäß Artikel 8 Absatz 1 DSGVO erhoben wurden.
                                    </li>
                                </ul>
                            </p>
                            <p>
                                Wir sind bei Vorlage der Voraussetzungen zur Löschung verpflichtet, soweit nicht die
                                Verarbeitung zur Ausübung des Rechts auf freie Meinungsäußerung und Information, zur
                                Erfüllung einer rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder zur
                                Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist.
                            </p>
                        </div>
                        <div class="flex flex-col space-y-1">
                            <h4 class="text-base font-semibold text-gray-800 dark:text-white">
                                Recht auf Einschränkung der Verarbeitung, Art. 17 DSGVO
                            </h4>
                            <p>
                                Sie haben das Recht, von uns die Einschränkung der Verarbeitung zu verlangen, insoweit
                                <ul class="space-y-1 list-disc list-outside ms-5">
                                    <li>
                                        die Richtigkeit der personenbezogenen Daten von Ihnen bestritten wird - allerdings
                                        nur für die Dauer, die es uns ermöglicht, die Richtigkeit der Daten zu überprüfen
                                    </li>
                                    <li>
                                        die Verarbeitung unrechtmäßig ist und Sie nicht gleich die Löschung Ihrer
                                        personenbezogenen Daten möchten, sondern stattdessen die Einschränkung der Nutzung
                                        der personenbezogenen Daten verlangen
                                    </li>
                                    <li>
                                        wir die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger
                                        benötigen, Sie diese jedoch zur Geltendmachung, Ausübung oder Verteidigung von
                                        Rechtsansprüchen benötigen
                                    </li>
                                    <li>
                                        Sie Widerspruch gegen die Verarbeitung gemäß Artikel 21 Absatz 1 DSGVO eingelegt
                                        haben, solange noch nicht feststeht, ob die berechtigten Gründe unsererseits Ihnen
                                        gegenüber überwiegen.
                                    </li>
                                </ul>
                            </p>
                            <p>
                                Insoweit die Verarbeitung eingeschränkt ist, dürfen wir Ihre personenbezogenen Daten – von
                                ihrer Speicherung abgesehen – nur mit Ihrer Einwilligung oder zur Geltendmachung, Ausübung
                                oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen
                                oder juristischen Person oder aus Gründen eines wichtigen öffentlichen Interesses der Union
                                oder eines Mitgliedstaats verarbeiten.
                            </p>
                            <p>Bevor die Einschränkung aufgehoben wird, werden Sie nochmals unterrichtet.</p>
                        </div>
                        <div class="flex flex-col space-y-1">
                            <h4 class="text-base font-semibold text-gray-800 dark:text-white">
                                Recht auf Datenübertragbarkeit
                                Art. 20 DSGVO
                            </h4>
                            <p>
                                Sie haben das Recht, Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in
                                einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten oder die
                                Übermittlung an einen anderen Verantwortlichen zu verlangen.
                            </p>
                        </div>
                        <div class="flex flex-col space-y-1">
                            <h4 class="text-base font-semibold text-gray-800 dark:text-white">
                                Widerspruchsrecht Art. 21
                                DSGVO
                            </h4>
                            <p>
                                Sie haben das Recht, gemäß Art. 21 DSGVO, Widerspruch gegen die Verarbeitung Ihrer
                                personenbezogenen Daten einzulegen, wenn diese aufgrund unseres berechtigten Interesses,
                                gemäß Art. 6 Abs. 1 S. 1 lit. f DSGVO, verarbeitet werden. Dies gilt allerdings nur, wenn
                                Gründe vorliegen, die sich aus Ihrer besonderen Situation ergeben oder sich der Widerspruch
                                gegen Direktwerbung richtet.
                            </p>
                            <h4 class="text-base font-semibold text-gray-800 dark:text-white">
                                Widerrufsrecht Art. 7 Abs. 3
                                DSGVO
                            </h4>
                            <p>
                                Sie haben das Recht, gem. Art. 6 Abs. 1 S. 1 lit. a DSGVO, Ihre erteilte Einwilligung
                                jederzeit gegenüber uns zu widerrufen. Dieser Widerruf gilt ausschließlich für die
                                zukünftige Nutzung.
                            </p>
                            <h4 class="text-base font-semibold text-gray-800 dark:text-white">
                                Recht auf Beschwerde bei
                                Aufsichtsbehörden
                            </h4>
                            <p>
                                Sie haben unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen
                                Rechtsbehelfs das Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem
                                Mitgliedstaat Ihres gewöhnlichen Aufenthaltsorts, Ihres Arbeitsplatzes oder unseres
                                Firmensitzes, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden
                                personenbezogenen Daten gegen die Datenschutzgrundverordnung verstößt.
                            </p>
                            <p>
                                Insoweit Sie von Ihren Betroffenenrechten Gebrauch machen möchten, können Sie dies auch per
                                E-Mail an die oben genannte E-Mail-Adresse einreichen.
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-semibold text-gray-800 dark:text-white">6. Datensicherheit</h3>
                        <p class="text-base font-light">
                            Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte,
                            wie z.B. Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL- bzw.
                            TLS-Verschlüsselung. Das erkennen Sie daran, dass die Adresszeile des Browsers von "http://" auf
                            "https://" wechselt. Außerdem ist in der Browserzeile ein Schlosssymbol zu sehen.
                        </p>
                        <p>
                            Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns
                            übermitteln, nicht von Dritten mitgelesen werden.
                        </p>
                        <p>
                            Zudem haben wir Vorkehrungen in Form von technischen und organisatorischen Maßnahmen getroffen,
                            die Ihre Daten gegen zufällige oder vorsätzliche Manipulationen, teilweisen oder vollständigen
                            Verlust, Zerstörung oder gegen den unbefugten Zugriff Dritter schützen.
                        </p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-semibold text-gray-800 dark:text-white">
                            7. Aktualität und Änderung dieser Datenschutzerklärung
                        </h3>
                        <p class="text-base font-light">
                            Diese Datenschutzerklärung ist aktuell gültig und hat den Stand 24.
                            April 2024.
                        </p>
                        <p>
                            Um zu gewährleisten, dass unsere Datenschutzerklärung stets den aktuellen gesetzlichen Vorgaben
                            entspricht, behalten wir uns jederzeit Änderungen vor. Das gilt auch für den Fall, dass die
                            Datenschutzerklärung aufgrund neuer oder überarbeiteter Leistungen, z.B. neuer
                            Serviceleistungen, angepasst werden muss. Die neue Datenschutzerklärung greift dann bei Ihrem
                            nächsten Besuch auf unserem Angebot.
                        </p>
                        <p>
                            Unsere Datenschutzerklärung steht Ihnen auf unserer Seite jederzeit zur Einsicht und zum
                            Ausdrucken zur Verfügung.
                        </p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-semibold text-gray-800 dark:text-white">8. Beanstandungen und Abmahnungen</h3>
                        <p class="text-base font-light">
                            Sollten Sie sich in Ihren Rechten verletzt oder anderweitig benachteiligt sehen, bitten wir Sie,
                            uns dies selbst mitzuteilen. Sie erhalten sodann eine persönliche individuelle Antwort. Im
                            Rahmen Ihrer Schadensminderungspflicht weisen wir darauf hin, dass Kosten von einem durch Sie
                            außergerichtlich beauftragten Anwalt - ohne vorherige Kontaktaufnahme mit uns - durch uns nicht
                            übernommen werden. Es besteht ausdrücklich kein Wille unsererseits, dass Sie einen Anwalt mit
                            einer Unterlassungsaufforderung und/ oder Abgabe einer strafbewehrten Unterlassungserklärung
                            beauftragen.
                        </p>
                        <p>Auf einen mutmaßlichen Willen kann folglich nicht abgestellt werden.</p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h4 class="font-semibold">Stand: 24.04.2024</h4>
                        <p class="text-base font-light">Erstellt durch Rechtsanwalt Martin Jedwillat: www.advomare.de</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
