{% extends "landingpage/_base-landing.html" %}
{% block title %}
    AGB – Bajkal
{% endblock title %}
{% block main %}
    <section class="pt-32 bg-gray-50 dark:bg-gray-950">
        <div class="px-4 mx-auto max-w-screen-xl lg:px-6">
            <div class="mx-auto mb-8 max-w-screen-md text-gray-800 dark:text-white lg:mb-16">
                <h2 class="mb-5 text-2xl font-bold tracking-tight lg:text-4xl">Allgemeine Geschäftsbedingungen</h2>
                <div class="flex flex-col space-y-4">
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">§ 1 Maßgebliche Bedingungen</h3>
                        <p>
                            <ol class="space-y-1 list-decimal list-outside dark:text-gray-200 text-gray-700ms-5">
                                <li>
                                    Diese Allgemeinen Geschäftsbedingungen (AGB) regeln das vertragliche Verhältnis zwischen
                                    Björn Kawecki, Große-Leege-Straße 14, 13055 Berlin (nachfolgend „Anbieter“ oder „Bajkal“
                                    genannt) und dem beauftragenden Kunden (nachfolgend „Kunde“ oder „Nutzer“ genannt) und
                                    gelten ausschließlich für alle Leistungen, die auf der von dem Anbieter betriebenen
                                    Webseite angeboten werden. Die AGB gelten jeweils in ihrer zum Zeitpunkt des
                                    Bestellvorgangs veröffentlichten Fassung.
                                </li>
                                <li>
                                    Auf der Seite und der darin zur Verfügung gestellten Applikation von Bajkal werden den
                                    Kunden Dienstleistungen im Bereich des E-Learnings zum Erlernen der russischen Sprache
                                    angeboten. Vertragspartner bei der Buchung des E-Learnings ist dabei allein Bajkal. Je
                                    nach gebuchtem Paket beinhaltet das E-Learning-Angebot von Bajkal unterschiedliche
                                    Fähigkeitskurse, die sich an dem europäischen Referenzrahmen für Sprachen orientieren
                                    (A1, A2, B1, B2, C1, C2) und entsprechende Vokabeltrainer, Audiodateien für die
                                    jeweilige russische Vokabel zum Abspielen sowie weitere Informationen über die jeweilige
                                    Vokabel, wie grammatische Formen und Beispiele für die Verwendung, bereitstellen
                                    (nachfolgend „Inhalte“ genannt). Diese Inhalte können via „Streaming“ von den Kunden
                                    genutzt werden. Der genaue Inhalt der einzelnen Pakete ist dem Angebotsverzeichnis auf
                                    der Seite von Bajkal zu entnehmen.
                                </li>
                                <li>
                                    Diese Geschäftsbedingungen gelten auch bei abweichenden Geschäftsbedingungen des Kunden,
                                    es sei denn, diese werden von dem Anbieter schriftlich anerkannt.
                                </li>
                                <li>
                                    Individuelle Absprachen sowie Nebenabreden und Ergänzungen haben Vorrang gegenüber
                                    diesen Geschäftsbedingungen.
                                </li>
                            </ol>
                        </p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">§ 2 Registrierung</h3>
                        <p>
                            <ol class="space-y-1 list-decimal list-outside dark:text-gray-200 text-gray-700ms-5">
                                <li>
                                    Zur Nutzung sind volljährige, geschäftsfähige Verbraucher und Unternehmer - unabhängig
                                    von ihrer Rechtsform - berechtigt. Die Nutzung der kostenpflichtigen Dienste der
                                    Plattform setzt eine Registrierung mit Angabe der E-Mail-Adresse, Adressdaten, ggf. die
                                    Angabe des Firmennamens und des Namens des Vertretungsberechtigten sowie die Vergabe
                                    eines Passwortes voraus. Die vom Anbieter abgefragten Daten sind vollständig und korrekt
                                    anzugeben (kein Postfach o. ä.). Um die Registrierung abzuschließen, erhält der Nutzer
                                    eine E-Mail mit einem Aktivierungslink, welchen er zum Abschluss der Registrierung
                                    bestätigen muss. Mit Abschluss der Registrierung ist ein Nutzungsvertrag zwischen den
                                    Parteien bzgl. des Kundenkontos des Nutzers entstanden.
                                </li>
                                <li>
                                    Die Registrierung ist zunächst kostenfrei. Eine Registrierung erfolgt nur, wenn der
                                    Nutzer zuvor die Einbeziehung dieser Allgemeinen Geschäftsbedingungen verbindlich
                                    anerkannt hat. Ein Anspruch auf Registrierung besteht nicht. Mit der Bestätigung der
                                    Registrierung und Freischaltung des Nutzerkontos durch den Anbieter entsteht zwischen
                                    dem Nutzer und dem Anbieter ein vertragliches Nutzungsverhältnis. Hierin ist
                                    ausschließlich das Nutzerkonto des Nutzers enthalten und noch keine o. g. Inhalte. Diese
                                    sind zusätzlich im Nutzerkonto kostenpflichtig buchbar.
                                </li>
                                <li>
                                    Das Zugangspasswort kann jederzeit vom Nutzer geändert und muss in jedem Fall geheim
                                    gehalten werden. Nach erfolgter Registrierung erhält jeder Nutzer ein Nutzerkonto,
                                    welches die von ihm angegebenen Daten enthält.
                                </li>
                                <li>
                                    Verstöße gegen vorstehende Regelungen berechtigen den Anbieter zur fristlosen Kündigung
                                    der Vertragsbeziehungen und zur sofortigen Löschung des Kontos des Nutzers von der
                                    Plattform.
                                </li>
                            </ol>
                        </p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">
                            § 3 Nutzung der Plattform / Abschluss von Abonnements – Buchung
                            von Inhalten
                        </h3>
                        <p>
                            <ol class="space-y-1 list-decimal list-outside dark:text-gray-200 text-gray-700ms-5">
                                <li>
                                    Das Nutzerkonto ist zunächst kostenlos. Zur Nutzung der vom Anbieter angebotenen Inhalte
                                    muss der Nutzer den gewünschten Inhalt sowie die gewünschte Vertragslaufzeit (z. B.
                                    monatlich oder jährlich kündbares Abonnement) auswählen, die Zahlungsart bestimmen und
                                    auf „kostenpflichtig buchen“ klicken. Sodann ist ein Vertrag zwischen dem Nutzer und dem
                                    Anbieter über die Nutzung der gewünschten Inhalte entstanden.
                                </li>
                                <li>
                                    Der Anbieter räumt dem Nutzer für die Laufzeit des jeweiligen Vertrags das nicht
                                    ausschließliche, nicht übertragbare und zeitlich auf die Dauer des Nutzungsvertrags
                                    beschränkte Recht ein, die Benutzeroberfläche der gebuchten Software mit den gebuchten
                                    Inhalten zur Anzeige auf dem Bildschirm in den Arbeitsspeicher der vertragsgemäß hierfür
                                    verwendeten Endgeräte zu laden und die dabei entstehenden Vervielfältigungen der
                                    Benutzeroberfläche vorzunehmen und die Software entsprechend der Leistungsbeschreibung
                                    zu nutzen. Aufgrund der Ausgestaltung der Software als Cloudsoftware werden dem Nutzer
                                    keine weitergehenden urheberrechtlichen Nutzungsrechte an der Software eingeräumt.
                                </li>
                                <li>
                                    Der Lernfortschritt eines Nutzers pro Karte sowie seine Lernaktivität nach Datum werden
                                    als Teil des Funktionsumfangs von Bajkal in der Datenbank gespeichert.
                                </li>
                            </ol>
                        </p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">
                            § 4 Laufzeit, Kündigung Abonnements, Löschung Kundenkonto,
                            Vergütung
                        </h3>
                        <p>
                            <ol class="space-y-1 list-decimal list-outside dark:text-gray-200 text-gray-700ms-5">
                                <li>
                                    Die Laufzeit eines Abonnements wird auf unbestimmte Zeit abgeschlossen. Der Kunde kann
                                    das Abonnement je nach ausgewählter „Laufzeit“ monatlich oder jährlich kündigen. Über
                                    den externen Anbieter "Stripe Inc." stellt Bajkal seinen Kunden die Möglichkeit zur
                                    Verfügung, ihr Abonnement zu verwalten. Zum Funktionsumfang von "Stripe Inc." gehört,
                                    bei Bajkal ein Abonnement abzuschließen, es zu ändern, es zu beenden sowie Rechnungen
                                    herunterzuladen. Um bei Bajkal ein Abonnement abzuschließen, zu verwalten oder zu
                                    kündigen, wird der Nutzer auf die Webseite von "Stripe Inc." geleitet.
                                </li>
                                <li>
                                    Der Kunde hat für die Dauer seines Abonnements Zugang zu den Inhalten in seinem
                                    Kundenkonto. Nach Beendigung des Abonnements werden die Inhalte deaktiviert und der
                                    Kunde kann diese nicht mehr nutzen, bis er ein weiteres Abonnement abschließt. Das
                                    Kundenkonto bleibt kostenfrei bestehen, bis dieses vom Kunden dauerhaft gelöscht wird.
                                </li>
                                <li>
                                    Möchte der Nutzer sein Kundenkonto bei Bajkal löschen, ist ihm das unter dem Menüpunkt
                                    "Einstellungen" jederzeit und offen einsehbar möglich. Das Kundenkonto kann nicht
                                    gelöscht werden, insoweit ein Abonnement noch aktiv ist. Um sein Bajkal-Konto löschen zu
                                    können, muss ein Nutzer sein aktives Abonnement zuvor kündigen. Hat ein Nutzer kein
                                    aktives Abonnement und vollzieht über die Einstellungen den Prozess der Konto-Löschung,
                                    wird sein Nutzerkonto zunächst deaktiviert und der Nutzer wird per E-Mail über die
                                    Deaktivierung informiert. Der Nutzer hat sodann zwei Wochen Zeit, um den Löschvorgang
                                    abzubrechen. Möchte der Nutzer den Löschvorgang abbrechen, muss er sich bei Bajkal
                                    erneut mit seinen Nutzerdaten anmelden und sein Konto per Link aktivieren. Verstreicht
                                    der Zeitraum von zwei Wochen ohne erneute Anmeldung, wird das für die Löschung
                                    vorgesehene Nutzerkonto endgültig gelöscht. Im Zuge der Löschung werden alle
                                    anwendungsseitigen Informationen über den Nutzer aus der Bajkal-Datenbank endgültig
                                    gelöscht. Hierzu gehören vom Nutzer eingetragene Informationen (E-Mail-Adresse,
                                    Passwort, Name) sowie von Bajkal erstellte Nutzerdaten über den Lernfortschritt und die
                                    Lernaktivität des Nutzers. Die geschäftsseitigen und buchhaltungsrelevanten
                                    Informationen über den Nutzer (als Kunde von Bajkal), etwa in Form von Rechnungen,
                                    bleiben für die vom Gesetzgeber festgelegte Dauer erhalten.
                                </li>
                                <li>
                                    Der Anbieter behält sich das Recht vor, bei Vorliegen eines wichtigen Grundes,
                                    insbesondere bei Verstößen gegen diese AGB und sonstige Vertragsverpflichtungen, bei
                                    Weitergabe der Zugangsdaten an Dritte, bei Zahlungsverzug oder bei Störungen, Missbrauch
                                    oder Rufschädigung des Anbieters, das Nutzungsverhältnis mit sofortiger Wirkung zu
                                    kündigen und zu sperren. Dies entbindet den Nutzer nicht von seiner ggf. bestehenden
                                    Zahlungspflicht. Der Anbieter ist nicht dazu verpflichtet, bereits getätigte Zahlungen
                                    in einem solchen Fall zurückzuerstatten.
                                </li>
                                <li>
                                    Die ausgezeichneten Preise sind Endpreise inkl. Umsatzsteuer. Es gilt der Betrag, der
                                    jeweils zum Zeitpunkt der verbindlichen Bestellung ausgewiesen ist.
                                </li>
                                <li>
                                    Der Anbieter wird die gebuchten Leistungen gewissenhaft erbringen. Bei den vereinbarten
                                    Leistungen werden jedoch kein tatsächlicher Erfolg geschuldet und keine spezifischen
                                    Resultate garantiert. Dem Kunden obliegt die Verantwortung für den eigenen Erfolg.
                                </li>
                            </ol>
                        </p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">§ 5 Zahlungsbedingungen</h3>
                        <p>
                            <ol class="space-y-1 list-decimal list-outside dark:text-gray-200 text-gray-700ms-5">
                                <li>
                                    Die vereinbarte Vergütung ist per Überweisung oder PayPal zu zahlen. Bargeld oder
                                    Schecks werden als Bezahlung nicht akzeptiert.
                                </li>
                                <li>Die vereinbarte Vergütung ist sofort fällig.</li>
                                <li>
                                    Sollte die Rechnung trotz Fälligkeit nicht durch den Kunden ausgeglichen werden, hat der
                                    Anbieter das Recht, vom Vertrag zurückzutreten.
                                </li>
                                <li>
                                    Insoweit nach Zahlungsfälligkeit die vereinbarte Vergütung nicht ausgeglichen ist, wird
                                    der Anbieter dem Kunden durch Übermittlung einer Mahnung eine weitere Zahlungsfrist
                                    setzen. Nach Ablauf dieser Frist befindet sich der Kunde in Zahlungsverzug. Dem Anbieter
                                    steht es frei, dem Kunden für jede ausgesprochene Mahnung eine Aufwandsentschädigung in
                                    Höhe von 3,00 EUR inkl. USt. in Rechnung zu stellen. Dies gilt unabhängig von einem
                                    Verzug des Kunden bereits für die erste Mahnung sowie für jede weitere Mahnung in
                                    derselben Angelegenheit.
                                </li>
                                <li>
                                    Kommt der Kunde in Zahlungsverzug, ist der Anbieter berechtigt, Verzugszinsen in Höhe
                                    von 5 Prozentpunkten über dem von der Deutschen Bundesbank für den Zeitpunkt der
                                    Bestellung bekanntgegebenen Basiszinssatz p. a. zu fordern. Falls dem Anbieter ein
                                    höherer Verzugsschaden nachweisbar entstanden ist, ist der Anbieter berechtigt, diesen
                                    geltend zu machen.
                                </li>
                            </ol>
                        </p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">§ 6 Mitwirkungspflichten des Kunden</h3>
                        <p>
                            <ol class="space-y-1 list-decimal list-outside dark:text-gray-200 text-gray-700ms-5">
                                <li>
                                    Um die digitalen Produkte abzurufen/ hierauf zugreifen zu können, sowie für die
                                    Durchführung des Online-Live-Coachings, sind geeignete technische Hilfsmittel (PC,
                                    Tablet, Handy und ein Internetzugang) erforderlich.
                                </li>
                                <li>
                                    Der Kunde selbst hat dafür Sorge zu tragen, dass sämtliche benötigte Software (z. B.
                                    Browser) sowie Hardware (z. B. Webcam, Mikrofon) funktionstüchtig und einsatzbereit
                                    sind. Die Stabilität der Internetverbindung liegt in der Verantwortung des Kunden.
                                    Kurse, die aufgrund nicht funktionstüchtiger Software und/oder Hardware ausfallen
                                    sollten, sind in vollem Umfang vom Kunden zu vergüten.
                                </li>
                            </ol>
                        </p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">§ 7 Kein vertragliches Rücktrittsrecht/Stornierungsmöglichkeit</h3>
                        <p>
                            <ol class="space-y-1 list-decimal list-outside dark:text-gray-200 text-gray-700ms-5">
                                <li>
                                    Das Vertragsverhältnis kann nur unter bestimmten Bedingungen aufgelöst werden (Widerruf,
                                    Rücktritt, Kündigung). Insoweit das Widerrufsrecht nicht mehr besteht und kein
                                    Rücktritts- oder Kündigungsgrund vorliegt, kann seitens der Parteien eine gebuchte
                                    Leistung nicht kostenfrei storniert werden. Eine Rückzahlung der Vergütung erfolgt bei
                                    einer unberechtigten Vertragsauflösung seitens des Kunden nicht. Dem Kunden wird
                                    vorbehalten, einen geringeren Schaden nachzuweisen.
                                </li>
                                <li>Der Kunde hat keinen Anspruch auf Rückerstattung der Vergütung bei Nichtnutzung.</li>
                            </ol>
                        </p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">§ 8 Haftungsbeschränkung, keine Garantie</h3>
                        <p>
                            <ol class="space-y-1 list-decimal list-outside dark:text-gray-200 text-gray-700ms-5">
                                <li>
                                    Der Anbieter haftet ausschließlich für die Bereitstellung der erworbenen Inhalte. Es
                                    wird kein konkreter Lernerfolg geschuldet oder spezifische Resultate garantiert. Alle
                                    Auskünfte, Informationen und andere Kursinhalte werden durch den Anbieter nach bestem
                                    Wissen und Gewissen und nach den Grundsätzen einer ordnungsgemäßen Berufsausübung
                                    erteilt. Der Kunde entscheidet in alleiniger Verantwortung selbst über die Umsetzung der
                                    vermittelten Inhalte.
                                </li>
                                <li>
                                    Wegen weitergehender Ansprüche und Rechte haftet der Anbieter nur bei Vorsatz und grober
                                    Fahrlässigkeit nach gesetzlichen Vorschriften.
                                </li>
                                <li>
                                    Schadensersatzansprüche aus Delikten sind ausgeschlossen, es sei denn, der Schaden wurde
                                    vorsätzlich oder durch grobe Fahrlässigkeit verursacht.
                                </li>
                                <li>
                                    Bei leichter Fahrlässigkeit haftet der Anbieter nur durch Verletzung einer wesentlichen
                                    Vertragspflicht bzw. bei Vorliegen von Verzug oder Unmöglichkeit.
                                </li>
                                <li>
                                    Die Haftung aus leichter Fahrlässigkeit, aus Delikten sowie aus Ersatz vergeblicher
                                    Aufwendungen besteht nur bei Schäden, die vorhersehbar und typisch sind, jedoch begrenzt
                                    auf die Höhe der Vergütung für die schadensverursachende Leistung.
                                </li>
                                <li>
                                    Die vorangegangenen Bestimmungen Nr. 2-5 gelten auch bei Handlungen von Verrichtungs-
                                    und Erfüllungsgehilfen des Anbieters.
                                </li>
                                <li>
                                    Bei Fällen von Arglist, Verletzungen des Lebens, Körpers oder der Gesundheit, für
                                    Rechtsmängel sowie bei Haftung nach Garantie oder dem Produkthaftungsgesetz finden die
                                    Haftungsbeschränkungen keine Anwendung.
                                </li>
                            </ol>
                        </p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">§ 9 Verfügbarkeit</h3>
                        <p>
                            <ol class="space-y-1 list-decimal list-outside dark:text-gray-200 text-gray-700ms-5">
                                <li>
                                    Der Zugang zu dem Kundenkonto wird dem Kunden ausschließlich über die Internetseite des
                                    Anbieters zur Verfügung gestellt. In dem Kundenkonto werden die vereinbarten Inhalte
                                    zeitlich begrenzt unkörperlich zur Ansicht zur Verfügung gestellt. Die Wiedergabe der
                                    digitalen Inhalte erfolgt ausschließlich durch eine kontinuierliche Datenübertragung des
                                    Servers des Anbieters. Die zur Wiedergabe ausgewählten Inhalte werden dazu über das
                                    Internet an das Endgerät des Nutzers übermittelt (sog. „Streaming“). Ein Abspeichern der
                                    Videos zum Zwecke ihres dauerhaften Besitzes („Download“) oder die Lieferung der
                                    Programminhalte auf einem Datenträger ist ausgeschlossen.
                                </li>
                                <li>
                                    Die Darstellungsqualität der digitalen Inhalte kann zudem von Gerät zu Gerät variieren
                                    und durch die Geschwindigkeit der Internetverbindung des Nutzers sowie anderen Faktoren
                                    abhängig sein. Insoweit kann der Anbieter nicht für Abweichungen haftbar gemacht werden.
                                </li>
                                <li>
                                    Kommt der Anbieter seinen fälligen Verpflichtungen zur Bereitstellung der digitalen
                                    Inhalte auf Aufforderung des Kunden nicht innerhalb einer angemessenen Frist nach, so
                                    kann der Kunde den Vertrag beenden. Der Kunde erhält sodann die Vergütung für die
                                    digitalen Inhalte zurückerstattet. Für diese Rückzahlung wird dasselbe Zahlungsmittel
                                    verwendet, das der Nutzer bei der ursprünglichen Transaktion eingesetzt hat, es sei
                                    denn, zwischen den Parteien wurde ausdrücklich etwas anderes vereinbart; in keinem Fall
                                    werden wegen dieser Rückzahlung Entgelte berechnet.
                                </li>
                                <li>
                                    Die Gewährleistung richtet sich nach den gesetzlichen Bestimmungen. Der Kunde ist
                                    verpflichtet, Funktionsausfälle, -störungen oder -beeinträchtigungen der Software
                                    unverzüglich und so präzise wie möglich bei dem Anbieter anzuzeigen.
                                    Ist das digitale Produkt mangelhaft, kann der Kunde, entsprechend
                                    <ul class="mt-2 space-y-1 list-disc list-outside ms-5">
                                        <li>§ 327l BGB Nacherfüllung verlangen,</li>
                                        <li>
                                            § 327m Absatz 1, 2, 4 und 5 BGB den Vertrag beenden oder nach § 327n BGB den
                                            Preis mindern und
                                        </li>
                                        <li>
                                            § 280 Absatz 1 oder § 327m Absatz 3 BGB Schadensersatz oder nach § 284 BGB
                                            Ersatz vergeblicher Aufwendungen verlangen.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Bei einer Vertragsbeendigung gem. § 327m BGB hat der Anbieter dem Kunden die Zahlungen
                                    zu erstatten, die der Kunde zur Erfüllung des Vertrags geleistet hat, abzüglich des
                                    Anteils des Bereitstellungszeitraums, für den der Kunde das digitale Produkt mangelfrei
                                    nutzen konnte. Für diese Rückzahlung wird dasselbe Zahlungsmittel verwendet, das der
                                    Kunde bei der ursprünglichen Transaktion eingesetzt hat, es sei denn, zwischen den
                                    Parteien wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden wegen dieser
                                    Rückzahlung Entgelte berechnet.
                                </li>
                                <li>
                                    Die Verfügbarkeit kann durch regelmäßig notwendige Wartungs- und Sicherheitsarbeiten,
                                    aber auch durch unvorhergesehene Ereignisse, die nicht im Einflussbereich des Anbieters
                                    liegen, beeinträchtigt werden. Derartige Arbeiten dienen der Aufrechterhaltung der
                                    Vertragsmäßigkeit nach § 327e Absatz 2 und 3 und § 327f BGB. Die Nichtverfügbarkeit von
                                    digitalen Produkten durch unvorhergesehene Arbeiten sowie der Zeitpunkt der
                                    voraussichtlichen Wiederherstellung der Verfügbarkeit werden dem Kunden unverzüglich
                                    mitgeteilt. Geplante Arbeiten, die zur Beeinträchtigung der Verfügbarkeit führen, werden
                                    durch den Anbieter, soweit möglich, in niedrig frequentierten Zeiten durchgeführt und
                                    vorab mittels einer angemessenen Frist dem Kunden mitgeteilt.
                                </li>
                            </ol>
                        </p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">§ 10 Nutzungsrechte über digitale Produkte</h3>
                        <p>
                            <ol class="space-y-1 list-decimal list-outside dark:text-gray-200 text-gray-700ms-5">
                                Im Rahmen des Vertragsverhältnisses erhält der Kunde, wie oben beschrieben, Zugang mittels
                                „Streaming“ zu den vereinbarten digitalen Inhalten. Der Kunde erhält ein eingeschränktes,
                                nicht ausschließliches, zeitlich (auf die vereinbarte Dauer) beschränktes Nutzungsrecht an
                                den vereinbarten digitalen Inhalten. Die Inhalte dürfen ausschließlich höchstpersönlich vom
                                Kunden verwendet werden. Eine Überlassung des Zugangs an Dritte ist nicht gestattet. Es
                                dürfen keinerlei zur Verfügung gestellte Inhalte an Dritte weitergeben oder anderweitig
                                genutzt werden. Es ist ausdrücklich untersagt, die zur Verfügung gestellten Inhalte,
                                dauerhaft zu speichern, zu vervielfältigen oder zu veröffentlichen.
                            </ol>
                        </p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">§ 11 Vertraulichkeit, verbotene Handlungen</h3>
                        <p>
                            <ol class="space-y-1 list-decimal list-outside dark:text-gray-200 text-gray-700ms-5">
                                <li>
                                    Die Vertragsparteien verpflichten sich gegenseitig zur Geheimhaltung vertraulicher
                                    Informationen. Diese Verpflichtung bleibt auch nach Vertragsende bestehen.
                                </li>
                                <li>
                                    „Vertrauliche Informationen“ im Sinne der Nr. 1 sind alle wirtschaftlichen,
                                    technologischen, wissenschaftlichen, patentrechtlichen und anderen internen
                                    Informationen der Vertragsparteien bezüglich Geschäftsstrategien, Schutzrechten,
                                    Entwicklungen, Produktionen und persönliche Informationen der Vertragsparteien sowie
                                    Inhalte und Methoden der Kurse, die bereits mitgeteilt wurden oder während der Laufzeit
                                    dieses Vertrags mitgeteilt werden.
                                </li>
                                <li>
                                    Von der Verpflichtung zur Geheimhaltung ausgenommen sind solche Informationen einer
                                    Vertragspartei,
                                    <ul class="mt-2 space-y-1 list-disc list-outside ms-5">
                                        <li>
                                            die sich schon vor Übergabe durch diese Vertragspartei im Besitz der jeweils
                                            anderen Vertragspartei befanden,
                                        </li>
                                        <li>die zum Zeitpunkt der Übergabe bereits öffentlich bekannt waren oder</li>
                                        <li>
                                            die nach ihrer Übergabe durch Veröffentlichung oder in sonstiger Weise allgemein
                                            bekannt werden, es sei denn, dies geschieht durch eine Verletzung der in dem
                                            vorliegenden Vertrag geregelten Geheimhaltungsverpflichtung durch eine der
                                            Vertragsparteien.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Dem Kunden ist eine Mitschrift, ein Tonmitschnitt oder eine digitale oder analoge
                                    Videoaufnahme (oder jedwede Kombination der genannten Verfahren) der gebuchten
                                    Leistungen untersagt.
                                </li>
                            </ol>
                        </p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">§ 12 Datenschutz</h3>
                        <p>
                            <ol class="space-y-1 list-decimal list-outside dark:text-gray-200 text-gray-700ms-5">
                                <li>
                                    Der Anbieter verpflichtet sich zur Einhaltung aller in der Bundesrepublik Deutschland
                                    geltenden datenschutzrechtlichen Vorschriften, insbesondere der DSGVO und des BDSG.
                                </li>
                                <li>
                                    Der Anbieter erhebt personenbezogene Daten des Kunden zum Zweck der Vertragsdurchführung
                                    sowie zur Erfüllung ihrer vertraglichen und vorvertraglichen Pflichten. Die
                                    Datenerhebung und Datenverarbeitung ist für die Durchführung des Vertrags erforderlich
                                    und beruht auf Artikel 6 Abs. 1 b) DSGVO. Weiter darf der Anbieter die Daten des Kunden
                                    auch zur Eigenwerbung nutzen. Dies erfolgt auf Grundlage des Artikel 6 Abs. 1 f) DSGVO.
                                    Eine Weitergabe der Daten an Dritte findet grundsätzlich nicht statt, außer es besteht
                                    eine gesetzliche Frist oder ist zur Vertragsdurchführung erforderlich. Die Daten werden
                                    gelöscht, sobald sie für den Zweck ihrer Verarbeitung nicht mehr erforderlich sind und
                                    soweit dem keine gesetzliche Aufbewahrungspflicht entgegensteht. Eine unentgeltliche
                                    Auskunft über alle personenbezogenen Daten des Kunden ist möglich. Zudem hat der Kunde
                                    das Recht auf Datenübertragung, Löschung, Berichtigung, Einschränkung oder Sperrung der
                                    personenbezogenen Daten. Entsprechende Fragen und Anträge kann der Kunde direkt an den
                                    Anbieter richten. Einen Datenschutzbeauftragten hat der Anbieter nicht benannt und ist
                                    dazu auch nicht verpflichtet. Der Kunde hat zudem das Recht, unbeschadet eines
                                    anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs, auf Beschwerde
                                    bei einer Aufsichtsbehörde, wenn er der Ansicht ist, dass die Datenverarbeitungsprozesse
                                    des Anbieters gegen datenschutzrechtliche Regelungen verstoßen.
                                </li>
                            </ol>
                        </p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">§ 13 Streitbeilegung</h3>
                        <p>
                            <ol class="space-y-1 list-decimal list-outside dark:text-gray-200 text-gray-700ms-5">
                                Die EU-Kommission hat eine Internetplattform zur Online-Beilegung von Streitigkeiten
                                geschaffen. Die Plattform dient als Anlaufstelle zur außergerichtlichen Beilegung von
                                Streitigkeiten betreffend vertragliche Verpflichtungen, die aus Online-Kaufverträgen
                                erwachsen. Nähere Informationen sind unter dem folgenden Link verfügbar:
                                http://ec.europa.eu/consumers/odr. Zur Teilnahme an einem Streitbeilegungsverfahren vor
                                einer Verbraucherschlichtungsstelle ist der Anbieter weder bereit noch verpflichtet.
                            </ol>
                        </p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h3 class="text-xl font-medium">§ 14 Schlussbestimmungen</h3>
                        <p>
                            <ol class="space-y-1 list-decimal list-outside dark:text-gray-200 text-gray-700ms-5">
                                <li>
                                    Sofern der Kunde Verbraucher ist und seinen Wohnsitz in der Bundesrepublik Deutschland
                                    hat, ist der Gerichtsstand der Wohnsitz des Kunden. Sollte der Verbraucher keinen
                                    Wohnsitz in der Bundesrepublik Deutschland haben oder nach Vertragsabschluss seinen
                                    Wohnsitz ins Ausland verlegen oder sein Wohnsitz ist zum Zeitpunkt der Klageerhebung
                                    nicht bekannt, ist Gerichtsstand für alle Streitigkeiten aus und im Zusammenhang mit dem
                                    Vertragsverhältnis der Sitz des Anbieters. Dies gilt nicht bei abweichenden Regelungen
                                    des Landes, in dem der Verbraucher seinen gewöhnlichen Aufenthalt hat.
                                </li>
                                <li>
                                    Erfüllungsort ist der Sitz des Anbieters. Es gilt ausschließlich deutsches Recht unter
                                    ausdrücklichem Ausschluss des UN-Kaufrechts. Unberührt davon bleiben die zwingenden
                                    Bestimmungen des Staates, in dem der Verbraucher seinen gewöhnlichen Aufenthalt hat.
                                </li>
                                <li>
                                    Vertragssprache ist deutsch. Der Vertragstext wird nach Vertragsschluss nicht
                                    gespeichert. Die Bestelldetails erhält der Kunde mittels der Bestellbestätigung mit
                                    allen Angaben an die von ihm angegebene E-Mail-Adresse. Die AGB und Widerrufsbelehrung
                                    können die Kunden jederzeit auf der Webseite des Anbieters einsehen, speichern oder
                                    drucken.
                                </li>
                                <li>
                                    Sollten einzelne Bestimmungen dieses Vertrages ganz oder teilweise unwirksam oder
                                    nichtig sein oder werden, so wird dadurch die Wirksamkeit des Vertrages im Übrigen nicht
                                    berührt, insoweit ein Vertragspartner hierdurch nicht unangemessen benachteiligt wird.
                                </li>
                                <li>
                                    Mündliche Nebenabreden bestehen nicht. Änderungen oder Ergänzungen dieser AGB bedürfen
                                    zu ihrer Wirksamkeit der Textform.
                                </li>
                            </ol>
                        </p>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <h4 class="font-semibold">Stand: 24.04.2024</h4>
                        <p>Erstellt durch Rechtsanwalt Martin Jedwillat: www.advomare.de</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
