<button type="button"
        onclick="playWordAudio(event)"
        class="px-3 py-2.5 w-12 text-sm font-semibold text-center text-gray-800 bg-white rounded-lg border border-gray-50 shadow-sm dark:border-gray-600 focus:ring-2 focus:outline-none darK:text-gray-400 hover:bg-gray-50 hover:dark:text-white hover:dark:bg-gray-800 dark:bg-gray-900 dark:focus:ring-gray-700 focus:ring-gray-100 dark:active:bg-gray-700 active:bg-gray-100">
    <div class="w-5 h-5 dark:fill-gray-400 fill-gray-600">{% include "icons/play.html" %}</div>
</button>
