<div data-modal-backdrop="static"
     tabindex="-1"
     id="checkout-modal"
     aria-hidden="true"
     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full inset-0 dark:bg-gray-900 bg-white /80">
    <div class="relative p-4 h-1/2">
        <div class="flex justify-center">
            <div class="p-6 bg-white rounded-lg border border-gray-200 dark:border-gray-700 dark:bg-gray-950 "
                 id="checkout"></div>
        </div>
    </div>
</div>
