{% extends "layout/_base.html" %}
{% load static %}
{% block title %}
    Bestätigung der E-Mail-Adresse – Bajkal
{% endblock title %}
{% block main %}
    <div class="flex flex-col justify-center items-center px-6 pt-16 mx-auto md:h-screen lg:py-0">
        <div class="w-full rounded-lg border border-gray-200 dark:border-gray-700 md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8 dark:bg-gray-950">
                {% if confirmation %}
                    <h1 class="text-xl font-bold tracking-tight leading-tight text-gray-800 dark:text-white md:text-2xl">
                        Bestätigung der
                        E-Mail-Adresse
                    </h1>
                    <div class="mt-3 text-gray-800 dark:text-white">
                        Bitte bestätigen Sie, dass <a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> Ihre
                        E-Mail-Adresse ist.
                    </div>
                    <form method="post"
                          action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                        <button class="px-3 py-2.5 w-full text-sm font-semibold text-center text-white bg-blue-400 rounded-lg dark:text-white dark:bg-blue-600 dark:hover:bg-blue-700 hover:bg-blue-500 focus:ring-2 focus:outline-none dark:focus:ring-blue-800 focus:ring-blue-600"
                                type="submit">Bestätigen</button>
                    </form>
                {% else %}
                    <p class="text-gray-800 dark:text-white card-text">
                        Der Link zur E-Mail-Bestätigung ist abgelaufen oder ungültig. Bitte <a href="{{ email_url }}">Bitte
                        stellen Sie eine neue E-Mail-Bestätigungsanfrage</a>.
                    </p>
                    <div class="mt-3 font-light text-gray-800 dark:text-white">
                        Sie werden in <span id="seconds">5</span> Sekunden zur <a href="{% url 'signin' %}"
    class="font-semibold text-blue-500 hover:underline">Startseite</a> weitergeleitet.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/ui/countdown.js' %}"></script>
{% endblock main %}
