{% extends "layout/_base.html" %}
{% block title %}
    Zurücksetzen des Passworts – Bajkal
{% endblock title %}
{% block main %}
    <div class="flex flex-col justify-center items-center px-6 md:h-screen lg:py-0">
        <div class="p-6 space-y-2 w-full bg-white rounded-lg border border-gray-100 dark:bg-gray-800  dark:border-gray-800 sm:max-w-md sm:p-8">
            <h2 class="text-xl font-bold tracking-tight leading-tight text-gray-800 dark:text-white  md:text-2xl">
                {% if token_fail %}
                    Link ist ungültig
                {% else %}
                    Passwort ändern
                {% endif %}
            </h2>
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="font-normal text-gray-800 dark:text-white ">
                    Womöglich wurde der Link bereits verwendet. Bitte fordern Sie <a href="{{ passwd_reset_url }}"
    class="font-semibold text-blue-500 hover:underline">die Rücksetzung Ihres Passworts</a> erneut an.
                </p>
            {% else %}
                {% if form %}
                    <form method="post" action="{{ action_url }}" class="space-y-4">
                        {% csrf_token %}
                        <label for="id_password1"
                               class="block mb-2 text-sm font-semibold text-gray-800 dark:text-white ">
                            Neues Passwort:
                        </label>
                        <input type="password"
                               class="block p-2.5 w-full placeholder-gray-400 dark:text-white text-gray-800  dark:bg-gray-700 bg-gray-200 rounded-lg border border-gray-600  sm:text-sm dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:border-blue-400 focus:ring-blue-400 "
                               name="password1"
                               placeholder="Neues Passwort"
                               autocomplete="new-password"
                               required=""
                               id="id_password1">
                        <label for="id_password2"
                               class="block mb-2 text-sm font-semibold text-gray-800 dark:text-white ">
                            Neues Passwort (Wiederholung):
                        </label>
                        <input type="password"
                               name="password2"
                               class="block p-2.5 w-full placeholder-gray-400 dark:text-white text-gray-800  dark:bg-gray-700 bg-gray-200 rounded-lg border border-gray-600  sm:text-sm dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:border-blue-400 focus:ring-blue-400 "
                               placeholder="Neues Passwort (Wiederholung)"
                               required=""
                               id="id_password2">
                        <p class="my-2 text-sm font-semibold dark:text-red2-500 text-red2-400">
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        {{ error|escape }}
                                        <br>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}{{ error|escape }}{% endfor %}
                            {% endif %}
                        </p>
                        <a href="{% url 'signin' %}">
                            <button type="button"
                                    class="px-3 py-2.5 mb-2 text-sm font-semibold dark:text-white text-gray-800  dark:bg-gray-800 bg-white  rounded-lg border border-gray-500 focus:outline-none focus:ring-2 me-2 hover:bg-gray-600 hover:border-gray-600 dark:focus:ring-gray-700 focus:ring-gray-100">
                                Abbrechen
                            </button>
                        </a>
                        <button type="submit"
                                class="px-3 py-2.5 text-sm font-semibold text-center dark:text-white text-gray-800  dark:bg-blue-600 bg-blue-400 rounded-lg border dark:border-blue-600 border-blue-300  w-fit focus:ring-2 focus:outline-nonefont-semibold dark:hover:bg-blue-500 hover-blue-400 focus:ring-blue-700">
                            Bestätigen
                        </button>
                    </form>
                {% else %}
                    <p class="font-normal text-gray-800 dark:text-white ">Ihr Passwort wurde geändert.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock main %}
