{% extends "landingpage/_base-landing.html" %}
{% block title %}
    Zurücksetzen des Passworts – Bajkal
{% endblock title %}
{% block main %}
    <section class="flex justify-center items-center bg-gray-50 md:min-h-[52rem] pt-36 pb-32 md:pt-0 dark:bg-gray-950">
        <div class="w-full bg-white rounded-lg border-gray-50 shadow-sm dark:border-gray-600 md:border md:mt-3 sm:max-w-lg xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8 dark:bg-gray-950">
                <h1 class="text-xl font-bold tracking-tight leading-tight text-gray-800 dark:text-white md:text-2xl">
                    Passwort zurücksetzen
                </h1>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <div class="flex items-start">
                    <div class="text-base text-gray-700 dark:text-gray-200">
                        Für eine E-Mail zum Zurücksetzen Ihres Passworts bitte Ihre Adresse eingeben und senden klicken.
                    </div>
                </div>
                <form class="space-y-4" method="post" action="{% url 'reset_password' %}">
                    {% csrf_token %}
                    <div>
                        <label for="id_email"
                               class="block mb-2 text-sm font-semibold text-gray-800 dark:text-white">
                            Ihre E-Mail-Adresse
                        </label>
                        <input type="email"
                               name="email"
                               id="id_email"
                               class="block p-2.5 w-full placeholder-gray-300 text-gray-800 bg-gray-50 rounded border border-gray-100 dark:text-white dark:bg-gray-600 dark:border-gray-800 sm:text-sm dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:border-blue-400 focus:ring-blue-400"
                               placeholder="beispiel@mail.de"
                               required="">
                    </div>
                    <a href="{% url 'signin' %}">
                        <button type="button"
                                class="px-3 py-2.5 mb-2 text-sm font-semibold text-gray-800 bg-white rounded border border-gray-500 dark:text-white dark:bg-gray-800 focus:outline-none focus:ring-2 me-2 hover:bg-gray-600 hover:border-gray-600 dark:focus:ring-gray-700 focus:ring-gray-100">
                            Abbrechen
                        </button>
                    </a>
                    <button type="submit"
                            class="px-3 py-2.5 text-sm font-semibold text-center text-gray-800 bg-blue-400 rounded border border-blue-300 dark:text-white dark:bg-blue-600 dark:border-blue-600 w-fit focus:ring-2 focus:outline-nonefont-semibold dark:hover:bg-blue-500 hover-blue-400 focus:ring-blue-700">
                        Senden
                    </button>
                </form>
            </div>
        </div>
    </section>
{% endblock main %}
