{% extends "landingpage/_base-landing.html" %}
{% block title %}
    500 – Bajkal
{% endblock title %}
{% block main %}
    <section class="flex justify-center items-center pt-24 bg-gray-50 min-h-[52rem] md:pt-0 dark:bg-gray-950">
        <div class="flex flex-col px-2 space-y-3 text-center">
            <div>
                <div class="text-4xl font-extrabold tracking-wide text-gray-800 dark:text-white md:text-9xl">500</div>
                <div class="text-lg font-medium text-gray-600 dark:text-gray-300 md:text-xl">Interner Serverfehler</div>
                <p class="text-lg font-light text-gray-400">Wir sind (hoffentlich) bald zurück.</p>
            </div>
        </div>
    </section>
{% endblock main %}
