{% extends "landingpage/_base.html" %}
{% block title %}
    503 – Bajkal
{% endblock title %}
{% block body %}
    <body class="flex flex-col flex-wrap justify-between min-h-screen bg-gray-50 dark:bg-gray-950 md:pb-0">
        <section class="min-h-screen bg-white dark:bg-gray-900">
            <div class="px-4 py-8 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="flex flex-col mx-auto max-w-screen-sm text-center space-y-5">
                    <h1 class="text-2xl font-extrabold tracking-tight text-blue-600 lg:text-3xl dark:text-blue-500">
                        Zeit für ein Upgrade ⏳
                    </h1>
                    <h2 class="text-xl font-medium tracking-tight text-blue-600 dark:text-blue-500">
                        Die Anwendung wird überarbeitet. Wir bitten um etwas Geduld...
                    </h2>
                    <div class="text-gray-500 dark:text-gray-300">Das Bajkal-Entwicklerteam</div>
                    <a href="{% url 'landingpage' %}" class="mx-auto">
                        <div class="px-3 py-2.5 w-fit text-base font-semibold text-center text-white bg-blue-400 rounded-lg shadow-sm hover:bg-blue-500 dark:text-white dark:bg-blue-600 focus:ring-2 focus:outline-none dark:hover:bg-blue-500 hover-blue-400 dark:focus:ring-blue-700 focus:ring-blue-500 active:bg-blue-400">
                            Zur Startseite
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </body>
{% endblock body %}
