{% extends "layout/main.html" %}
{% load static %}
{% block title %}
    Fortschritt – Bajkal
{% endblock title %}
{% block content %}
    {% if not user.has_course %}
        <div class="px-5 md:basis-9/12 lg:basis-7/12 xl:basis-6/12 2xl:basis-5/12 basis-full md:px-0">
            {% include "layout/partials/page-title.html" with page_title="Kein Fortschritt" %}
            {% include "layout/partials/page-subtitle.html" with page_subtitle="Wiederholen Sie Lernkarten, um Fortschritte zu erzielen." %}
        </div>
    {% else %}
        <div class="px-5 md:basis-9/12 lg:basis-7/12 xl:basis-6/12 2xl:basis-5/12 basis-full md:px-0">
            {% include "layout/partials/page-title.html" with page_title="Fortschritt" %}
            <div class="flex flex-col pb-28 mt-8 space-y-4 w-full md:pb-0 dark:bg-gray-950">
                <div class="flex flex-col space-y-5 md:space-y-0 md:gap-5 md:flex-row">
                    {% include "progress/components/daily.html" %}
                    {% include "progress/components/piechart.html" %}
                </div>
                {% include "progress/components/heatmap.html" %}
                {% include "progress/components/barchart.html" %}
            </div>
        </div>
        <script>
            const piechartDataUrl = "{% url 'piechart_data' %}";
            const heatmapDataUrl = "{% url 'heatmap_data' %}";
            const barchartDataUrl = "{% url 'barchart_data' %}";
        </script>
        <script src="{% static 'js/libs/plotly-3.0.1.min.js' %}" defer></script>
        <script src="{% static 'js/data/piechart.js' %}" defer></script>
        <script src="{% static 'js/data/heatmap.js' %}"></script>
        <script src="{% static 'js/data/barchart.js' %}"></script>
    {% endif %}
{% endblock content %}
