{% extends "layout/main.html" %}
{% block title %}
    Passwort ändern – Bajkal
{% endblock title %}
{% block content %}
    <div class="px-5 md:basis-9/12 lg:basis-7/12 xl:basis-6/12 2xl:basis-5/12 basis-full md:px-0">
        {% include "layout/partials/page-title.html" with page_title="Passwort ändern" %}
        <div class="flex flex-col mt-8 space-y-5">
            <form method="post" action="{% url 'change_password' %}">
                <div class="px-6 py-5 bg-white rounded-lg border border-gray-50 shadow-sm dark:border-none dark:bg-gray-800">
                    {% csrf_token %}
                    <div class="mb-4 space-y-2">
                        <label for="id_oldpassword"
                               class="block mb-2 text-sm font-semibold text-gray-800 dark:text-white">
                            Aktuelles Passwort
                        </label>
                        <input type="password"
                               name="oldpassword"
                               placeholder="••••••••"
                               autocomplete="current-password"
                               required=""
                               id="id_oldpassword"
                               class="block p-2.5 w-full placeholder-gray-400 text-gray-800 bg-white rounded-lg border border-gray-200 shadow-sm dark:text-white dark:bg-gray-600 dark:border-gray-800 sm:text-sm dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:border-blue-400 focus:ring-blue-400">
                    </div>
                    <div class="mb-4 space-y-2">
                        <label for="id_password1"
                               class="block mb-2 text-sm font-semibold text-gray-800 dark:text-white">
                            Neues Passwort
                        </label>
                        <input class="block p-2.5 w-full placeholder-gray-400 text-gray-800 bg-white rounded-lg border border-gray-200 shadow-sm dark:text-white dark:bg-gray-600 dark:border-gray-800 sm:text-sm dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:border-blue-400 focus:ring-blue-400"
                               type="password"
                               name="password1"
                               placeholder="Mindestens 8 Zeichen"
                               autocomplete="new-password"
                               required=""
                               id="id_password1">
                    </div>
                    <div class="space-y-2">
                        <label class="block mb-2 text-sm font-semibold text-gray-800 dark:text-white"
                               for="id_password2">
                            Neues Passwort
                            (Wiederholung)
                        </label>
                        <input class="block p-2.5 w-full placeholder-gray-400 text-gray-800 bg-white rounded-lg border border-gray-200 shadow-sm dark:text-white dark:bg-gray-600 dark:border-gray-800 sm:text-sm dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:border-blue-400 focus:ring-blue-400"
                               type="password"
                               type="password"
                               name="password2"
                               placeholder="Neues Passwort (Wiederholung)"
                               required=""
                               id="id_password2">
                    </div>
                    <div class="flex justify-end mt-5">
                        <a href="{% url 'settings' %}">{% include "layout/partials/abort-button.html" %}</a>
                        <button type="submit"
                                class="px-3 py-2.5 text-sm font-semibold text-white bg-blue-400 rounded-lg shadow-sm dark:text-white focus:ring-2 me-2 dark:bg-blue-600 dark:hover:bg-blue-700 hover:bg-blue-500 focus:outline-none dark:focus:ring-blue-800 focus:ring-blue-600">
                            Bestätigen
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
