{% load static %}
<div class="my-5 md:h-[65vh] overflow-y-auto">
    <div class="space-y-2 w-full" id="sse-content">
        {% for deck in due_deck_list %}
            <a href="{% url 'study' deck.id %}"
               class="flex justify-between px-3 w-full text-base font-medium bg-white rounded-full border-gray-100 shadow-sm cursor-pointer start-review hover:dark:bg-gray-800 dark:bg-gray-950 hover:bg-white hover:shadow">
                <div class="flex items-center w-full">
                    <div class="p-3 text-white dark:text-blue-500">
                        {% with deck.course.name as level %}
                            <div class="flex overflow-hidden justify-center items-center w-9 h-9 font-extrabold bg-blue-400 rounded-full dark:bg-white">
                                {{ level }}
                            </div>
                        {% endwith %}
                    </div>
                    <div class="py-3 text-gray-800 dark:text-gray-100">{{ deck.name|capfirst }}</div>
                </div>
                <div class="flex justify-between items-center">
                    <div class="w-10 font-semibold text-center text-blue-500 px-auto">{{ deck.initial_cards }}</div>
                    <div class="w-10 font-semibold text-center text-red-500 px-auto">{{ deck.due_in_progress_cards }}</div>
                    <div class="w-10 font-semibold text-center text-green-400 px-auto">{{ deck.due_mastered_cards }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% comment %}<script src="{% static 'js/data/feed.js' %}"></script> {% endcomment %}
